body {
    background-color: #000;
    color: #0f0;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-shadow: 0 0 10px #0f0;
}

#login-container {
    margin-top: 100px;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
}

form {
    display: inline-block;
    border: 1px solid #0f0;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    background-color: #111;
    border: 1px solid #0f0;
    color: #0f0;
    padding: 5px;
    margin-bottom: 10px;
    width: 200px;
}

button {
    background-color: #0f0;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 3px;
}

button:hover {
    background-color: #fff;
    color: #000;
}

#error-message {
    color: #f00;
    text-shadow: 0 0 10px #f00;
}

#course-content {
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

#course-content header, #course-content section, #course-content footer {
    border: 1px solid #0f0;
    padding: 20px;
    margin-bottom: 20px;
}

#course-details img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 1rem 0;
    border: 1px solid #0f0;
}
